<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboard Booking</title>
    <link href="Content/font-awesome.css" rel="stylesheet">
    <!--load all styles -->
    <link href="Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/modernizr-2.6.2.js"></script>
    <link rel="shortcut icon" href="https://americancruiselines.com/ResourcePackages/ACL/assets/dist/images/favicon.png" type="image/x-icon" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/OBList.js?ver=2"></script>
    <script src="Scripts/OnboardBooking.js?ver=2"></script>
    <script src="Scripts/angular-material.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/checklist-model.js"></script>
    <script src="Scripts/xml2json.js"></script>
    <link rel="stylesheet" href="Content/angular-material.css" />


    <script src="Scripts/angular-busy.js"></script>

    <link href="Content/angular-busy.css" rel="stylesheet" type="text/css" />
    
</head>
<body ng-app="OnboardBookingApp">
    <div id="header_wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav">
            </div>
            <div class="main-header">
                <div class="container">
                    <div class="logo navbar-brand">
                        <a href="https://americancruiselines.com" title="ACL - home" target="_blank">
                            <img src="https://aclmedia.azureedge.net/cmsmedia/libraries/acl/images/style-assets/original-site/logos/logo.png" alt="American Cruiselines">
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container mainbody piecepage">
        <div>
           
            <div ng-controller="OnboardBookingCtrl" ng-init="setupEmailReceipt();" class="divList">
                <div class="messagespace text-center" ng-show="invalidbooking == 'True' && BookingSubmitted == 'False'">
                    <h3 class="">This process must be started in the Shorex Application</h3>
                </div>
                
                            <div class="row" ng-show="InvType=='Receipt'">
                                <div class="col-md-10 col-md-offset-1 btnarea">
                                    <form name="emlR" id="emlR" method="post" action="/displayDoc.php" target="_self" enctype="multipart/form-data">
                                        <!-- <input id="invoicebinary" type="hidden" name="name" value="Receipt"> -->
                                        <div>
                                            <div class="col-md-3">
                                                <label id="EmailLabel" for="EmailLabel">Enter Email<span class="reqasterisk"><strong>*</strong></span></label>
                                            </div>
                                            <div class="col-md-6">
                                                <input id="emailinput" type="text" name="email" required data-ng-model="emailinput">
                                            </div>
                                            <div class="col-md-2">
                                                <button id="btnSave" type="submit" form="emlR" name="submitbtn" value="Submit" class="btn btn-primary btn-lg" ng-disabled="emailinput=='' || emailinput==undefined">Send</button>
                                            </div>
                                        </div>
                                        <input id="submit" type="hidden" name="type" value="booking">

                                        <input id="submit" type="hidden" name="submit" required value="email">
                                        <!-- <input id="invoicebinary" type="hidden" name="pdf" value={{receiptImage}}> -->
                                        <input id="invoicebinary" type="hidden" name="options" value={{emailOption}}>
                                    </form>
                                </div>
                            </div>
                <div class="row" ng-show="InvType=='Invoice'">
                    <div class="col-md-10 col-md-offset-1 btnarea">
                        <form name="emlI" id="emlI" method="post" action="/displayDoc.php" target="_self" enctype="multipart/form-data">
                            <!-- <input id="invoicebinary" type="hidden" name="name" value="Invoice"> -->
                            <div>
                                <div class="col-md-3">
                                    <label id="EmailLabel" for="EmailLabel">Enter Email<span class="reqasterisk"><strong>*</strong></span></label>
                                </div>
                                <div class="col-md-6">
                                    <input id="emailinput" type="text" name="email" required data-ng-model="emailinput">
                                </div>
                                <div class="col-md-2">
                                    <button id="btnSave" type="submit" form="emlI" name="submitbtn" value="Submit" class="btn btn-primary btn-lg" ng-disabled="emailinput=='' || emailinput==undefined">Send</button>
                                </div>
                            </div>
                            <input id="submit" type="hidden" name="type" value="tentative">

                            <input id="submit" type="hidden" name="submit" required value="email">
                            <!-- <input id="invoicebinary" type="hidden" name="pdf" value={{invoiceImage}}> -->
                            <input id="invoicebinary" type="hidden" name="options" value={{emailOption}}>
                        </form>
                    </div>
                </div>
                        </div>

                       

            
        </div>
    </div>

    <div id="footer_wrapper">
        <footer id="footer">
            <div class="footer-wrapper">
                <div class="call-us">
                    <span class="heading">If you have any questions, please email</span>
                    <a href="mailto:customerservice@americancruiselines.com"> <span class="contact-phone" style="color:white">customerservice@americancruiselines.com</span></a>
                </div>
                <div class="container">
                    <div class="footer">
                        <div class="inner clearfix">
                            <div class="subfooter clearfix">
                                <div class="pull-right">
                                    <a href="#" id="back-to-top" style="display: inline;"><i class="soap-icon-longarrow-up circle"></i></a>
                                </div>
                                <div class="copyright">
                                    <p>© Copyright <span id="copyright_year">
                                    <script>document.write(new Date().getFullYear())</script></span> American Cruise Lines. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</body>
</html>
