body {
    font-family: Lato,Arial,Helvetica,sans-serif;
    background-color: #fff;
    color: #838383;
    /* overflow-x: hidden;*/
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: scrollbar;
    /* overflow-y: scroll;*/
    height: fit-content !important;
    color: rgba(0,0,0,.87);
}
/* Set padding to keep content from hitting the edges */
.body-content {
    background: #fff url("/NAVIGATOR_background.jpg") no-repeat top center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 85%;
    /* float: left;*/
    width: 66%;
}

.purchaseorder input {
    width: auto !important;
}

.labor input {
    width: auto !important;
}
/* Set width on the form input elements since they're 100% wide by default */
.piecepage input,
select,
textarea {

   height: 35px;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
   background-color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 30px);
    font-size: 16px;
    color: #000000;
    text-align: left;
padding: 6px 12px;

}

.POpage input,
select,
textarea {
    width: 95%;
}


.navbar-brand img.img-responsive {
    width: 166px;
    height: 100%;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}



span.reqasterisk {
    padding-left: 6px;
    color: red;
font-size: 19px;
}

.table tbody > tr > td.topBorder {
    border-top: 2px solid #428bca;
}

.amtalign {
    text-align: right;
}

.md-datepicker-invalid input {
    border: 1px red solid;
}
.btnarea {
    padding-top: 15px;
}
.fullwidthdate .md-datepicker-input-container {
    width: 39% !important;
}
.md-icon-button + .md-datepicker-input-container {
    float: left;
    margin-top:0px;
  }
  .md-datepicker-input {
      max-width: 410px !important;
      width: 100% !important;
   }
  .md-datepicker-input-container {
  
      width: 85% !important;
      border-bottom-width: 0px !important;
  }
  .md-icon-button + .md-datepicker-input-container {
      margin-left: 0px !important;
  }

/*
li.dropdown > a:after {
    display: inline-block;
    vertical-align: middle;
    content: '\e072';
    font-family: 'Glyphicons Halflings';
    font-size: 18px;
    color: inherit;
    margin-top: -6px;
    margin-left: 6px;
    -moz-transition: all 0.34s ease;
    -webkit-transition: all 0.34s ease;
    -o-transition: all 0.34s ease;
    transition: all 0.34s ease;
}
*/
.dropdown > a, .dropdown-menu > li > a, .nodropdown > a {
    letter-spacing: normal;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #f5f5f5;
    margin-left: 8px;
    margin-right: 8px;
}

.dropdown ul.dropdown-menu > li:hover > a, .chaser ul.dropdown-menu > li:hover > a {
    background-color: #f5f5f5;
    color: #01b7f2;
}

.dropdown ul.dropdown-menu > li:active > a, .chaser ul.dropdown-menu > li:active > a {
    background-color: #f5f5f5;
    color: #01b7f2;
}

.navbar-nav > li > .dropdown-menu {
    border: 2px solid #01b7f2;
}

.navy-stripe {
    background: #2d3e52;
    width: 100%;
    min-height: 40px;
    padding: 13.5px 0;
}

.navy-stripe-text {
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 20px;
}

.mainbody {
    background-color: white;
}

.navbar {
    margin-bottom: 0px;
    background: white;
}

a {
    color: inherit;
}


/*.selectdiv:after {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    color: #ffffff;
    right: 155px;
    top: 31px;
    height: 27px;
    padding: 3px 6px 0px 8px;
    border-left: 1px solid #A9A9A9;
    position: absolute;
    pointer-events: none;
    background-color: #fdb714;
    /* Safari */
-webkit-transform: rotate(+90deg);
/* Firefox */
-moz-transform: rotate(+90deg);
/* IE */
-ms-transform: rotate(+90deg);
/* Opera */
-o-transform: rotate(+90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
}

.selectdiv select {
    display: none;
    /* Add some styling */
    display: block;
    width: 100%;
    /*   height: 50px;
    float: right;*/
    margin: 0px 0px;
    /* padding: 0px 24px;*/
    font-size: 16px;
    line-height: 1.75;
    height: 26px;
    color: #333;
    background-color: #f0f0f0;
    background-image: none;
    /*border: 1px solid #0ebeff;*/
    -ms-word-break: normal;
    word-break: normal;
}
.selectdiv select {
    height: 35px;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    background-color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 30px);
    font-size: 16px;
    color: #000000;
    text-align: left;
}

td.alignright {
    text-align: right;
}

.text-rightitemprc {
    float: right;
    padding-right: 60px;
}

.purchaseorder.row {
    margin-right: 10px;
    margin-left: 0px;
}

.main-menu ul.menu > li > a, .chaser ul.menu > li > a {
    font-weight: 400;
    display: block;
    padding: 0;
    height: 68px;
    line-height: 68px;
    text-transform: uppercase;
    letter-spacing: .04em;
}

.main-menu ul.menu, .chaser ul.menu {
    margin: 0;
    float: right;
}

.main-menu {
    padding: 15px;
}

    .main-menu ul.menu > li:first-child, .chaser ul.menu > li:first-child {
        padding-left: 0;
    }

    .main-menu ul.menu > li, .chaser ul.menu > li {
        float: left;
        padding-left: 20px;
        padding-right: 20px;
    }

        .main-menu ul.menu > li.active > a, .chaser ul.menu > li.active > a {
            font-weight: normal;
            color: #01b7f2;
            background-color: transparent;
        }

        .main-menu ul.menu > li:hover > a, .chaser ul.menu > li:hover > a {
            color: #01b7f2;
            background-color: transparent;
        }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: transparent;
    color: #01b7f2;
}

.breadcrumb {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
}

    .breadcrumb > li + li:before {
        color: #000;
    }

    .breadcrumb > .active {
        color: #428bca;
    }

    .breadcrumb a:hover, breadcrumb a:focus {
        color: #01b7f2;
    }

.breadcrumb {
    padding-left: 5px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-top: none;
    border-bottom: 1.5px solid #ddd;
    border-right: none;
    border-left: none;
    padding: 5px;
    vertical-align: middle;
}

.table-bordered {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}

h3.border-bottom {
    border-bottom: 1px solid #ddd;
    line-height: 40px;
}

.sub-border-bottom {
    /*    border-bottom: 1px solid #ddd; */
}

    .sub-border-bottom::after {
        content: ""; /* This is necessary for the pseudo element to work. */
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 98%; /* Change this to whatever width you want. */
        padding-top: 0px; /* This creates some space between the element and the border. */
        border-bottom: 1px solid #ddd; /* This creates the border. Replace black with whatever color you want. */
        margin-bottom: 10px;
    }

.purchaseorder {
    padding-left: 20px;
}

.inputform h3.border-bottom {
    margin-top: 0px;
}

button, input, select[multiple], textarea {
   /* background-color: #f5f5f5;*/
}

.navbar-toggle {
    background-color: #f5f5f5;
}

    .navbar-toggle .icon-bar {
        background-color: #01b7f2;
    }

.buttonarea {
    padding-top: 15px;
}

.tablecolumnheader {
    text-transform: uppercase;
    color: gray;
}

input {
    background-color: #f5f5f5;
}

.form-control {
    background-color: #f5f5f5;
}

h3 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
}

label {
    font-size: 18px !important;
    font-weight: bold;
    line-height: 18px !important;    
    color: #003F86;
}

a#btnSave {
    width: 90%;
     background-color: #004086;
     border-color: #004086;
     text-transform: uppercase;
     font-weight: bold;
 }

button#btnSave {
   width: 90%;
    background-color: #004086;
    border-color: #004086;
    text-transform: uppercase;
    font-weight: bold;
}

    button#btnSave:hover, button#btnSave:focus, button#btnSave:active, button#btnSave.active {
       /* color: #fff;*/
       /* background-color: #004086;*/
       /* border-color: #004086;*/
	color: #004086 ;
        background-color: #fff;
        border-color: #004086;
    }

button#btnCancel {
    width: 90%;
    background-color: #e01a33;
    border-color: #e01a33;
    text-transform: uppercase;
    font-weight: bold;
}
button#btnPrevious {
    width: 90%;
    <!--background-color: #e01a33;-->
    border-color: #01b7f2;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-warning {
    color: #fff;
    background-color: #98ce44;
    border-color: #98ce44;
    text-transform: uppercase;
    font-weight: bold;
}

    .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #7fb231;
        border-color: #7fb231;
    }

.btn-info {
    color: #fff;
    background-color: #39b3d7;
    border-color: #39b3d7;
    text-transform: uppercase;
    font-weight: bold;
}

    .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        /* background-color: #7fb231;
        border-color: #7fb231;
        */
    }

.btn-danger {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #e01a33;
}

.btn-primary {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #01b7f2;
    border-color: #01b7f2;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #2d3e52;
        border-color: #2d3e52;
    }

td.buttonarea {
    width: 162px;
}

td.buttonarea3 {
    width: 230px;
}

.btn-padd {
    margin-right: 7px;
}

@media (max-width: 767px) {
    .btn {
        margin-bottom: 10px;
	margin-top: 10px;
    }
}

.addfunction {
    margin-right: 75px;
    margin-bottom: 5px;
    float: right;
}

@media (min-width: 1200px) {

    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1200px) {

    .widepage {
        max-width: 1200px;
    }
}

.actions h3 {
    text-transform: uppercase;
}

.reports h3 {
    text-transform: uppercase;
}
/*.actionitems li {
    background-color: #f5f5f5;
    margin-bottom: 5px;
    height: 39px;
    vertical-align: middle;
    list-style: none;
}
ul.actionitems {
    padding-left: 0px;
}
.actionitems button.btn.btn-warning.btn-sm {
    float: right;
    margin-right: 10px;
    margin-top: -5px;
}
.actionitems li {
    background-color: #f5f5f5;
    margin-bottom: 5px;
    height: 39px;
    vertical-align: middle;
    list-style: none;
    padding-top: 9px;
    font-weight: bold;
    padding-left: 23px;
}
.actionitems li:hover {
    background-color: #98ce44;
    color:#000;

}*/
.actionitems li {
    list-style: none;
}

.actionbutton {
    width: 100%;
    text-align: left;
    padding: 0px;
    background-color: #f5f5f5;
    color: black;
    border-color: #f5f5f5;
    height: 39px;
    margin-bottom: 5px;
    padding-top: 9px;
    padding-left: 20px;
    text-transform: none;
    font-size: 15px;
}

ul.actionitems {
    padding-left: 0px;
}

.actionbutton:hover {
    background-color: #98ce44;
    outline: 0;
    border-color: #98ce44;
    text-transform: none;
}

.actionbutton:not(:disabled):not(.disabled).active, .actionbutton:not(:disabled):not(.disabled):active, .show > .actionbutton.dropdown-toggle {
    background-color: #98ce44;
    color: #fff;
    border-color: #98ce44;
}

.reportselector select {
    margin-bottom: 10px;
    height: 35px;
    max-width: 100%;
    width: 100%;
}

.reportselector button#btnSave {
    width: 100%;
}

.reportcontainer {
    background-color: #f5f5f5;
    padding: 10px;
}

.news {
    padding: 15px;
}

.newsitems {
    background-color: white;
    padding: 10px;
}

footer {
    padding-top: 20px;
}

.newsitems li {
    padding: 5px 0px;
    font-weight: bold;
    color: gray;
}

.newsitemsubtitle {
    padding: 5px 0px;
    font-weight: bold;
    color: gray;
}

.messagearea {
    border: 2px solid #01b7f2;
    padding: 10px 10px;
    margin: 20px 0px;
}

.messagetitle {
    padding-bottom: 10px;
    color: gray;
}

.messageitems {
    color: gray;
    font-weight: bold;
}

span.messageitemlabel {
    color: #01b7f2;
}

span.messageitemtext {
    font-weight: normal;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.panel-title {
    position: relative;
}

    .panel-title::after {
        content: "\f107";
        color: #333;
        top: -2px;
        right: 0px;
        position: absolute;
        font-family: "FontAwesome"
    }

    .panel-title[aria-expanded="true"]::after {
        content: "\f106";
    }
.panel-default>.panel-heading {
    color: white;
    background-color: #004086;
    border-color: #004086;
}
.expandarea {
    padding: 10px;
}

.card.panel-body {
    margin-bottom: 5px;
}

.spaceholder {
    padding-top: 5px;
}

span.comingsoon {
    color: #98ce44;
}

input.radioinput {
    height: 18px;
    margin-right: 12px;
}

input#ItemQuantity {
    max-width: 150px;
}

input#ItemCost {
    max-width: 150px;
}

input#ItemDesc {
    max-width: 175px;
}

.purchaseorder input#ItemQuantity {
    width: 95% !important;
    max-width: 125px;
}

.itembuttonarea {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.itemlabelarea {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.subitems {
    /* border-bottom: 1px solid #ddd; */
    /* line-height: 40px; */
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
}

.searchbutton {
    padding-top: 25px;
}

label.tablecolumnheader.border-bottom {
    text-transform: uppercase;
    color: gray;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-bottom: 10px;
}

.multicolumn.border-bottom {
    text-transform: uppercase;
    color: gray;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-bottom: 10px;
}

span.errormsg {
    color: red;
    font-weight: bold;
    padding-left: 20px;
}

@media (min-width: 756px) {

    .piecepage input[type="checkbox"] {
        width: 33%;
        height: 16px;
        float: none;
        margin-right: -81px;
    }
input.agentcheck {
    margin-left: -30px;
}
}
@media (min-width: 756px) {

    .piecepage input[type="checkbox"] {

        margin-right: -26px;
    }}
@media (max-width: 755px) {

    .piecepage input[type="checkbox"] {
       /* width: 12%; */
	width: 100%;
        height: 16px;
        float: none;
        margin-right: 0px;
    }
.radiorow {
    padding-bottom: 11px;
}
.stackwrap {
padding-left: 45px;

}

.radiocolumn {
    padding-left: 7px;
}
.radiocolumn2 {
    padding-left: 0px;
}
}

span.markaddons {
    color: black;
}
.searcharea{
    padding-bottom:15px;
}
.transselection input[type="radio"] {
    width: 6%;
    height: 22px;
    margin-top: 3px;
    margin-left: 5px;
}
.emergencyselection input[type="radio"] {
    width: 6%;
    height: 22px;
    margin-top: 3px;
    margin-left: 5px;
}
.addressselection input[type="radio"] {
    width: 6%;
    height: 22px;
    margin-top: -4px;
    margin-left: 5px;
}
.documentselection input[type="radio"] {
    width: 6%;
    height: 22px;
    margin-top: -4px;
    margin-left: 5px;
}
.md-autocomplete-suggestions li {
   border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.md-autocomplete {
   flex: 0 1 300px;
}
.md-autocomplete-suggestions li:last-child {
   border-bottom-width: 0;
}

.md-autocomplete-suggestions .vm-test {
    display: flex;
    flex-direction: column;
}

.md-autocomplete-suggestions .item-title,
.md-autocomplete-suggestions .item-metadata {
    display: block;
    line-height: 1.5;
}

    .md-autocomplete-suggestions .item-title md-icon {
       height: 18px;
        width: 18px;
    }
@media (min-width: 960px) {

    .md-padding {
        padding: 1px !important;
    }
}
.md-whiteframe-1dp, .md-whiteframe-z1 {
    box-shadow: none !important;
}
md-autocomplete md-autocomplete-wrap {
   height: 35px !important;
    background-color: #ffffff !important;
    border-width: 1px !important;
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-style: solid !important;
    border-color: #BBBBBB !important;
    border-image: initial !important;
border-radius: 6px !important;
padding-top:2px;
}
md-autocomplete input:not(.md-input) {
   font-size: 14px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    /*background: #f0f0f0 !important;*/
    width: 100%;
    padding: 0 15px;
    line-height: 26px !important;
    height: 26px !important;
}
md-autocomplete .md-show-clear-button button {

   height: 26px !important;
}
.multiline textarea {
    height: 150px;
}
.multiline {
    padding-left: 15px;
}
.searcharea {
    padding-bottom: 10px;
}
.skinnyradio input {
    width: 10%;
    height: 20px;
    vertical-align: middle;
}
#header .topnav {
    height: 30px;
    background: #004086;
    width: 100%;
 border-top: 3px solid #CDB288;
}
#header .logo img, .chaser .logo img {
    width: 95px;
    height: 35px;
}
@media only screen and (min-width: 1200px)
{
#header .logo img, .chaser .logo img {
    width: 140px;
    height: 51.45px;
}
}
#footer .footer-wrapper {
    background: #004086;
    color: #fff;
    font-size: 15px;
    padding: 0;
   border-top: 3px solid #CDB288;

}
#footer .call-us {
    background: #00356b;
    padding: 20px 0;
    font-size: 25px;
    text-align: center;
    position: relative;
}
.pull-right {
    float: right !important;
}
@media only screen and (min-width: 48em)
{
#footer .subfooter .copyright {
    float: right;
}
}
#footer .subfooter .copyright p {
    margin: 0;
}
@media only screen and (min-width: 992px)
.footer {
    padding: 50px 0 50px;
}
@media only screen and (min-width: 48em)
.footer {
    padding: 0px 0 0px;
}
.footer {

    padding: 0px 25px 0px;
}
@media only screen and (min-width: 48em)
#footer .subfooter {
    padding: 20px 0;
    text-align: left;
}
#footer .subfooter {
    padding: 25px 0 45px;
    text-align: center;
}

md-autocomplete {

   width: 100%;
}

md-autocomplete md-autocomplete-wrap {

  /* width: 85%;*/
}
.widelabel {
    text-align: left !important;
}
.messagespace {
    padding-top: 85px;
    padding-bottom: 175px;
}
.messagespacelogin {
    padding-top: 85px;
    padding-bottom: 20px;
}
.reqitem {
    background-color: lightyellow;
    padding: 10px 0px 10px 5px;
}
.cg-busy-default-sign {

    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;

}
span.radiolabel {
font-size:16px;
font-family:Lato,Arial,Helvetica,sans-serif;
    vertical-align: text-top;
}
span.checklabel {
font-size:16px;
font-family:Lato,Arial,Helvetica,sans-serif;
    vertical-align: text-top;
}
md-autocomplete input:not(.md-input) {
    background-color: #fff !important;
    font-size: 16px !important;
    padding: 6px 12px 6px 6px!important;
}
.panel-heading {
    font-size: 20px;
}
button[disabled], html input[disabled] {
    color: gray;
}
md-autocomplete-wrap.md-menu-showing {
  outline: -webkit-focus-ring-color auto 1px;
}
span.contact-phone {
    color: white;
    white-space:nowrap;
    font-size:18px;
}
.call-us a:hover, a:focus {
    color: white;
}
.rednoticebottom {
    color: red;
    padding: 20px 0px 10px 0px;
    font-size:16px;
}
.rednoticetop {
    color: red;
    padding: 0px 0px 15px 0px;
    font-size:16px;
}
.addressarea {
    margin-top: 14px;
}
.emptylines {
    padding: 15px;
}
.panel-body {

    background-color: #f5f5f5;
}
.panel-info>.panel-heading {
        color: #003F86;
    background-color: #d6d6d6;
    border-color: #BBBBBB;
}
.panel-info {
    border-color: #BBBBBB;
}
md-autocomplete {
    display: inline !important;
}
md-content {
    width: 85%;
}
.md-padding {
    padding: 0px !important;
}
span.bigaddress {
    font-size: 20px;
    font-weight: normal;
}
.rednotice{
color: red;
}
.bedselection input[type="radio"] {
   width: 2%;
    height: 22px;
    margin-top: 3px;
    margin-left: 28px;
}
.md-icon-button + .md-datepicker-input-container {
  float: left;
  margin-top:0px;
}
.md-datepicker-input {
    max-width: 410px !important;
    width: 100% !important;
 }
.md-datepicker-input-container {

    width: 85% !important;
    border-bottom-width: 0px !important;
}
.md-icon-button + .md-datepicker-input-container {
    margin-left: 0px !important;
}
.fallbackparts
{
display:inline-block;
}
span.dateformat {
  display:none;
}
span.reddateformat {
    color: red;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
}
.smalllabel {
    font-size: 15px !important;
}
.md-datepicker-invalid input {
    border: 1px red solid;
}
.btnarea {
    padding-top: 15px;
}
.fullwidthdate .md-datepicker-input-container {
    width: 39% !important;
}
.payment-options-form .two-fileds-horziontal {
    display: flex;
    flex-wrap: wrap;
}
.payment-options-form .two-fileds-horziontal>div {

    width: 43%;
    position: relative;
}
.payment-options-form .two-fileds-horziontal>div+div:before {
    content: '/';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -7px;
    transform: translateY(-50%);
    font-size: 48px;
    color: #979797;
    font-weight: 300;
}

.payment-wrapper .norton-logo {
    position: absolute;
    right: 40px;
    bottom: 45px;
}
.piecepage input[type="radio"] {
  width: 26px;
    height: 18px;
    
    margin-left: 10px;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
  
   /* border-top: none;*/
}
.borderbot {
border-bottom: 1px solid black;
}
.cg-busy-default-text {

    margin: 18px 12px 10px 49px !important;
    font-size: 25px  !important;
}
.btnpadded {
    margin-top: 10px;
}
button#btnPrimary {
    margin-left: 10px;
    
}
input#cfarselect {
    margin-top: -1px;
    margin-bottom: 3px;
margin-left: 0px;
}
input#afselect {
    margin-top: -1px;
    margin-bottom: 3px;
}
input#precselect {
    margin-top: -1px;
    margin-bottom: 3px;
}
input#postcselect {
    margin-top: -1px;
    margin-bottom: 3px;
}
button#btnrebook {
    background-color: #98ce44;
    border-color: #98ce44;
    text-transform: uppercase;
    font-weight: bold;
}
@media (min-width: 767px) {
	th.col-header1.roomheader {
    		max-width: 18px;
	}
}
table th.col-header1.roomheader {
    text-align: left;
}
table th.col-header2.nameheader {
    text-align: left;
}
.row.logininfo {
  margin-left: 30px;
}
span.heading {
    font-size: 18px;
}
.row.btnarea {
  margin-left: 15px;
}
.row.instructionarea {
margin-left:0px;
}
.ddlbpad {
padding-bottom:8px;
}

.divList.guesttable {
    margin-left: 20px;
}
.radiorow2 {
    padding-top: 5px;
}
.radiowrap {
    text-indent: -40px;
    padding-left: 45px;
}
.Departlist {
    padding-right: 0px;
}
.link-button {
    background-color: #01b7f2 !important;
    border-color: #01b7f2 !important;
    color: #ffffff !important;
    text-decoration: none;
    cursor: pointer !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    height:29px  !important;
    text-align:center !important;
margin-left: 60px;
    width: 100px !important;
}
input.hideitem {
    display: none;
}

span.reddateformat.dateformathidden {
    display: none;
}
span.reddateformat {
    color: red;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
}
.paddingtop{
    margin-top: 15px;
}

.maintenance{
    text-align: center;
    padding: 25px;
}